body {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.Stopwatch {
  margin: auto;
  border: solid 4px black;
  text-align: center;
  height: 250px;
  width: 600px;
}
.screen {
  font-size: 20px;
  height: 40px;
}
.time {
  display: inline;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

button {
  background-color: aqua;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(13, 194, 167);
  text-transform: capitalize;
  cursor: pointer;
}

button:active {
  background-color: aqua;
}
